@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Montserrat+Alternates:wght@400;600;700&family=Roboto:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* Oculta elementos extras como título, URL e numeração */
  .print-hidden,
  .no-print,
  nav,
  header,
  footer {
    display: none !important;
  }

  /* Força apenas a área da etiqueta a aparecer centralizada */
  .print-area {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

