@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Montserrat+Alternates:wght@400;600;700&family=Roboto:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 100mm 150mm;
    margin: 0;
  }

  html, body {
    width: 100mm;
    height: 150mm;
    margin: 0;
    padding: 0;
  }

  .print-area {
    width: 100mm;
    height: 150mm;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
  }

  .print-hidden, .no-print, nav, header, footer {
    display: none !important;
  }
}


